<div class="bg-white py-4 border-b">
  <div
    class="max-w-7xl mx-auto flex flex-col md:flex-row items-center justify-between px-4"
  >
    <div class="flex items-center gap-3 text-center md:text-left">
      <img
        src="images/icons/app.png"
        alt="Logo app"
        class="h-16 w-auto hidden md:block"
      />
      <div>
        <h1 class="text-lg md:text-3xl font-bold text-primary-800 leading-tight">
          Intranet
        </h1>
        <p class="text-xs md:text-xl text-gray-500">
          Gobierno Autónomo Municipal de Sacaba
        </p>
      </div>
    </div>

    <img
      src="images/icons/alcaldia.png"
      alt="Logo Municipio"
      class="h-20 hidden md:block"
    />
  </div>
</div>

<app-carousel [images]="slides()"/>