<div class="max-w-4xl mx-auto">
  @if (documents.hasValue()) {
  <p-table [value]="documents.value()!" [tableStyle]="{ 'min-width': '50rem' }" [rowHover]="true"  selectionMode="single">
    <ng-template #header>
      <tr>
        <th>Nombre</th>
        <th>Fecha creacion</th>
        <th style="width: 5rem"></th>
      </tr>
    </ng-template>
    <ng-template #body let-product>
      <tr>
        <td>
          <div class="flex items-center gap-3">
            <i
              [ngClass]="product.fileName | primengFileIcon"
              style="font-size: 1.5rem"
            ></i>
            <span>{{ product.originalName }}</span>
          </div>
        </td>
        <td>{{ product.createdAt | date : "short" }}</td>
        <td>
            <p-button icon="pi pi-download" size="small" />
        </td>
      </tr>
    </ng-template>
  </p-table>
  }
</div>
