<form [formGroup]="communicationForm" (ngSubmit)="save()">
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-y-4 gap-x-2">
    <div class="sm:col-span-2">
      <input
        pInputText
        formControlName="reference"
        type="text"
        placeholder="Titulo"
        class="w-full"
      />
    </div>
    <div>
      <input
        pInputText
        formControlName="code"
        type="text"
        placeholder="Cite"
        class="w-full"
      />
    </div>
    <div>
      <p-select
        [options]="types()"
        appendTo="body"
        formControlName="typeId"
        class="w-full"
        optionLabel="name"
        optionValue="id"
        placeholder="Tipo comunicado"
      />
    </div>
  </div>
  <div class="flex flex-col gap-y-4 mt-4">
    <div>
      <p-button
        size="small"
        icon="pi pi-upload"
        variant="outlined"
        label="Adjuntar PDF"
        (onClick)="pdfInput.click()"
      />
      <input
        type="file"
        accept="application/pdf"
        (change)="onFileSelected($event)"
        #pdfInput
        hidden
      />
    </div>
    <div class="border border-slate-300 rounded-xl px-4 py-3">
      @if (selectedFileName()) {
        <div class="flex items-center space-x-3">
          <i class="pi pi-file-pdf text-red-500" style="font-size: 2rem"></i>
          <p class="font-medium">
            {{ selectedFileName() }}
          </p>
        </div>
      } 
      @else {
        <div class="font-medium">Seleccione el PDF a adjuntar</div>
      }
    </div>
  </div>
  <div class="p-dialog-footer">
    <p-button label="Cancelar" severity="secondary" (onClick)="close()" />
    <p-button type="submit" label="Guardar" [disabled]="!isFormValid" />
  </div>
</form>
