<div class="h-full bg-gray-50 py-6 px-4 sm:px-6 lg:px-8">
  <div class="max-w-7xl mx-auto">
    <div class="text-center mb-6">
      <h1 class="text-lg md:text-3xl font-bold text-gray-900 mb-2">
        Buscar Documentos Institucionales
      </h1>
      <p class="text-sm md:text-lg text-gray-600 max-w-3xl mx-auto">
        Encuentra documentos, resoluciones, circulares y archivos oficiales de
        la institución
      </p>
    </div>

    @if(!isMobile()){
      <div class="bg-white rounded-lg shadow-md p-8 mb-8">
        <filter-form-documents />
      </div>
    }
    @else {
      <div class="flex justify-end gap-2 mb-6">
        <button
          pButton
          icon="pi pi-sliders-h"
          class="p-button-outlined"
          (click)="openSidebar()"
        ></button>
      </div>
      <p-drawer
        [(visible)]="sidebarVisible"
        position="bottom"
        header="Filtros"
        [style]="{ 'height': '70vh' }"
      >
        <filter-form-documents />
      </p-drawer>
    }

</div>
