<section class="max-w-6xl mx-auto px-4 py-10">
  <header class="mb-8 text-center md:text-left">
    <h1 class="text-2xl md:text-3xl lg:text-4xl font-semibold text-primary-700">
      Comunicados Institucionales
    </h1>
    <p class="text-gray-600 text-sm md:text-base mt-2">
      Anuncios y avisos oficiales para funcionarios municipales.
    </p>
    <div
      class="mt-4 w-full h-[2px] bg-primary-600 rounded mx-auto md:mx-0"
    ></div>
  </header>

  <!-- Contenido principal -->

  <div class="card">
    <p-table [value]="communications()" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template #header>
        <tr>
          <th>Code</th>
          <th>Name</th>
          <th>Category</th>
          <th>Quantity</th>
        </tr>
      </ng-template>
      <ng-template #body let-item>
        <tr>
          <td>{{ item.code }}</td>
          <td>{{ item.reference }}</td>
          <td>{{ item.category }}</td>
          <td>
            <div class="card flex justify-center">
              <p-menu
                #menu
                [model]="menuOptions"
                [popup]="true"
                appendTo="body"
              />
              <p-button
                (click)="selectedItem = item; menu.toggle($event)"
                icon="pi pi-ellipsis-v"
              />
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</section>
