/* .p-menubar .active-menu-item {
  background-color: #007bff;
  color: white;
  font-weight: bold;
} */

/* Asegúrate de que este CSS esté en un archivo de estilos global (styles.css) 
   o en el CSS de tu componente usando :host ::ng-deep */

