@import "tailwindcss";
@plugin "tailwindcss-primeui";
@import "primeicons/primeicons.css";

.p-dialog-content {
  margin-bottom: 60px;
}

.p-dialog-footer {
  padding: 10px !important;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}

.cdk-drag-animating {
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1);
}
.cdk-drop-list-dragging .cdk-drag:not(.cdk-drag-placeholder) {
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1);
}
.cdk-drag-preview {
  border-radius: 0.75rem;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid rgb(226, 232, 240);
  overflow-y: hidden;
}
.cdk-drag-placeholder {
  opacity: 0;
}


