@import "tailwindcss";
@import "primeicons/primeicons.css";
@plugin "tailwindcss-primeui";

.p-dialog-content {
  margin-bottom: 60px;
}

.p-dialog-footer {
  padding: 10px !important;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@theme {
  --animate-fade-in: fade-in 0.6s ease-in-out;
}
