<div class="h-full overflow-y-auto" scrollRestore scrollKey="landing-page">
  @if(!isLoading() && portalData()){
    <div class="animate-fade-in">
      <hero-section [slides]="portalData()?.slides" />
      <quick-access-section [quickAccess]="portalData()!.quickAccess" />
    
      <div  class="animate-fade-in">
        <communications-section [communications]="portalData()!.communications" />
        
      </div>
      
        <footer-section />
    </div>
  } 
  @else {
    <portal-loader />
  }
</div>
