<div class="h-full overflow-y-auto overflow-x-hidden" scrollRestore scrollKey="landing-page">
  @if(!isLoading() && portalData()){
  <hero-section [slides]="portalData()?.slides" />
  <quick-access-section [quickAccess]="portalData()?.quickAccess" />

  <div
    pAnimateOnScroll
    enterClass="animate-enter fade-in-10 slide-in-from-t-20 animate-duration-1000"
    threshold="0.1"
    [once]="true"
  >
    <communications-section [communications]="portalData()!.communications" />
  </div>
  <most-downloaded-documents-section [documents]="portalData()!.documents" />
  <footer-section />
  } @else {
  <portal-loader />
  }
</div>
